In [353]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from pandas import  DataFrame

In [354]:
px

# import data

In [355]:
confirmed_df = pd.read_csv(r'E:\PTIT\HK1-N3\Python3\project\Data\COVID-19\csse_covid_19_data\csse_covid_19_time_series\time_series_covid19_confirmed_global.csv')
deaths_df=pd.read_csv(r'E:\PTIT\HK1-N3\Python3\project\Data\COVID-19\csse_covid_19_data\csse_covid_19_time_series\time_series_covid19_deaths_global.csv')
recovered_df=pd.read_csv(r'E:\PTIT\HK1-N3\Python3\project\Data\COVID-19\csse_covid_19_data\csse_covid_19_time_series\time_series_covid19_recovered_global.csv')

In [356]:
lats_df=confirmed_df
lats_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

In [357]:
longs_df=confirmed_df
longs_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

In [358]:
Ps_df=confirmed_df
Ps_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

In [359]:
confirmed_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

In [360]:
deaths_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7214,7220,7221,7221,7221,7225,7228,7230,7234,7238
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2725,2734,2746,2753,2759,2768,2777,2783,2788,2797
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,5831,5838,5843,5846,5850,5853,5855,5859,5862,5864
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,130,130,130,130,130,130,130,130,130,130
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1587,1598,1603,1613,1618,1622,1629,1642,1650,1653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,19979,20098,20223,20337,20442,20555,20670,20763,20869,20950
275,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,4170,4438,4456,4465,4465,4465,4504,4521,4532,4547
276,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1748,1763,1765,1773,1775,1778,1782,1787,1789,1793
277,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,3650,3652,3653,3653,3653,3654,3654,3654,3657,3657
278,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,4627,4630,4631,4634,4636,4637,4643,4645,4648,4655

In [361]:
recovered_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Drop column

In [362]:
confirmed_df=confirmed_df.drop(columns=['Lat','Long','Province/State'])
# confirmed_df=confirmed_df.drop(columns=['Province/State'])
deaths_df=deaths_df.drop(columns=['Lat','Long','Province/State'])
recovered_df=recovered_df.drop(columns=['Lat','Long','Province/State'])
lats_df=lats_df.drop(columns=['Long','Province/State','Country/Region'])
longs_df=longs_df.drop(columns=['Lat','Country/Region','Province/State'])
Ps_df=Ps_df.drop(columns=['Lat','Long','Country/Region'])

In [363]:
lats_df

,Lat,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,33.939110,0,0,0,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,41.153300,0,0,0,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,28.033900,0,0,0,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,42.506300,0,0,0,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,-11.202700,0,0,0,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,14.058324,0,2,2,2,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,31.952200,0,0,0,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,15.552727,0,0,0,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,-13.133897,0,0,0,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,-19.015438,0,0,0,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

In [365]:
longs_df

,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,67.709953,0,0,0,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,20.168300,0,0,0,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,1.659600,0,0,0,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,1.521800,0,0,0,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,17.873900,0,0,0,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,108.277199,0,2,2,2,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,35.233200,0,0,0,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,48.516388,0,0,0,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,27.849332,0,0,0,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,29.154857,0,0,0,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

In [366]:
Ps_df

,Province/State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,NaN,0,0,0,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,NaN,0,0,0,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,NaN,0,0,0,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,NaN,0,0,0,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,NaN,0,0,0,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,NaN,0,2,2,2,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,NaN,0,0,0,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,NaN,0,0,0,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,NaN,0,0,0,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,NaN,0,0,0,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

In [313]:
confirmed_df

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,10/5/21,10/6/21,10/7/21,10/8/21,10/9/21,10/10/21,10/11/21,10/12/21,10/13/21,10/14/21
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,155309,155380,155429,155448,155466,155508,155540,155599,155627,155682
1,Albania,0,0,0,0,0,0,0,0,0,...,172618,173190,173723,174168,174643,174968,175163,175664,176172,176667
2,Algeria,0,0,0,0,0,0,0,0,0,...,204046,204171,204276,204388,204490,204597,204695,204790,204900,205005
3,Andorra,0,0,0,0,0,0,0,0,0,...,15271,15284,15288,15291,15291,15291,15307,15307,15314,15326
4,Angola,0,0,0,0,0,0,0,0,0,...,59895,60448,60803,61023,61245,61378,61580,61794,62143,62385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,Vietnam,0,2,2,2,2,2,2,2,2,...,818324,822687,826837,831643,836134,839662,843281,846230,849691,853842
275,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,409489,439845,440936,441882,441882,441882,443766,444729,445538,446294
276,Yemen,0,0,0,0,0,0,0,0,0,...,9234,9271,9299,9333,9345,9369,9402,9412,9439,9467
277,Zambia,0,0,0,0,0,0,0,0,0,...,209199,209248,209283,209315,209336,209347,209353,209396,209411,209431
278,Zimbabwe,0,0,0,0,0,0,0,0,0,...,131205,131434,131523,131705,131762,131796,131875,132016,132108,132251

# Group by country

In [367]:
confirmed_df=confirmed_df.groupby(by='Country/Region').aggregate(np.sum).T
confirmed_df.index.name='Date'
confirmed_df = confirmed_df.reset_index()
deaths_df=deaths_df.groupby(by='Country/Region').aggregate(np.sum).T
deaths_df.index.name='Date'
deaths_df = deaths_df.reset_index()
recovered_df=recovered_df.groupby(by='Country/Region').aggregate(np.sum).T
recovered_df.index.name='Date'
recovered_df = recovered_df.reset_index()
lats_df=lats_df.groupby(by='Lat').aggregate(np.sum).T
lats_df.index.name='Date'
lats_df=lats_df.reset_index()

longs_df=longs_df.groupby(by='Long').aggregate(np.sum).T
longs_df.index.name='Date'
longs_df=longs_df.reset_index()

Ps_df=Ps_df.groupby(by='Province/State').aggregate(np.sum).T
Ps_df.index.name='Date'
Ps_df=Ps_df.reset_index()

In [368]:
lats_df

Lat,Date,-51.7963,-42.8821,-40.9006,-38.4161,-37.8136,-35.6751,-35.4735,-34.9285,-33.8688,...,60.128161,60.472,61.52401,61.8926,61.92411,64.2823,64.8255,64.9631,70.2998,71.7069
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,1,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,10/10/21,68,236,4659,5265859,54470,1662433,1358,910,69205,...,1157822,193562,7658923,1280,145679,796,1456,12147,666,623
628,10/11/21,68,236,4704,5266275,55936,1663383,1386,913,69552,...,1157822,193734,7687559,1301,147297,796,1456,12243,671,623
629,10/12/21,68,236,4759,5267339,57470,1663992,1437,914,69993,...,1159560,194630,7714973,1311,147919,824,1537,12287,671,630
630,10/13/21,69,237,4831,5268653,59763,1664725,1483,914,70391,...,1160465,195029,7742899,1319,148672,827,1580,12342,671,638
631,10/14/21,69,237,4897,5270003,61869,1665916,1518,914,70781,...,1161264,195385,7773388,1323,149174,831,1617,12390,671,645

In [369]:
confirmed_df

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,10/10/21,155508,174968,204597,15291,61378,3750,5265859,272356,129567,...,8192589,390038,178259,4,383376,839662,441882,9369,209347,131796
628,10/11/21,155540,175163,204695,15307,61580,3750,5266275,272957,131415,...,8232327,390115,178637,4,384668,843281,443766,9402,209353,131875
629,10/12/21,155599,175664,204790,15307,61794,3772,5267339,273860,133444,...,8270182,390234,178986,4,384668,846230,444729,9412,209396,132016
630,10/13/21,155627,176172,204900,15314,62143,3817,5268653,275077,136188,...,8311851,390394,179371,4,385952,849691,445538,9439,209411,132108
631,10/14/21,155682,176667,205005,15326,62385,3830,5270003,276666,138720,...,8356596,390575,179711,4,388743,853842,446294,9467,209431,132251

In [370]:
deaths_df

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,10/10/21,7225,2768,5853,130,1622,93,115473,5549,1448,...,138139,6064,1269,1,4617,20555,4465,1778,3654,4637
628,10/11/21,7228,2777,5855,130,1629,93,115491,5575,1461,...,138167,6064,1271,1,4634,20670,4504,1782,3654,4643
629,10/12/21,7230,2783,5859,130,1642,93,115547,5618,1478,...,138351,6064,1273,1,4634,20763,4521,1787,3654,4645
630,10/13/21,7234,2788,5862,130,1650,93,115582,5646,1496,...,138487,6065,1276,1,4652,20869,4532,1789,3657,4648
631,10/14/21,7238,2797,5864,130,1653,93,115633,5675,1507,...,138647,6065,1280,1,4681,20950,4547,1793,3657,4655

In [371]:
recovered_df

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,10/10/21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
628,10/11/21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
629,10/12/21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
630,10/13/21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
631,10/14/21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Melt

In [392]:
confirmed_melt_df=confirmed_df.melt(id_vars='Date').copy()
confirmed_melt_df.rename(columns={'value':'Confirmed'}, inplace=True)
deaths_melt_df=deaths_df.melt(id_vars='Date').copy()
deaths_melt_df.rename(columns={'value':'Deaths'}, inplace=True)
recovered_melt_df=recovered_df.melt(id_vars='Date').copy()
recovered_melt_df.rename(columns={'value':'Recovered'}, inplace=True)
lats_melt_df=lats_df.melt(id_vars='Date').copy()
lats_melt_df.rename(columns={'value':'Lats'},inplace=True)
longs_melt_df=longs_df.melt(id_vars='Date').copy()
longs_melt_df.rename(columns={'value':'Longs'}, inplace=True)
Ps_melt_df=Ps_df.melt(id_vars='Date').copy()
Ps_melt_df.rename(columns={'value': 'Province/States'},inplace=True)

In [393]:
lats_melt_df

            Date      Lat  Lats
0        1/22/20 -51.7963     0
1        1/23/20 -51.7963     0
2        1/24/20 -51.7963     0
3        1/25/20 -51.7963     0
4        1/26/20 -51.7963     0
...          ...      ...   ...
172531  10/10/21  71.7069   623
172532  10/11/21  71.7069   623
172533  10/12/21  71.7069   630
172534  10/13/21  71.7069   638
172535  10/14/21  71.7069   645

[172536 rows x 3 columns]

In [394]:
longs_melt_df

            Date      Long  Longs
0        1/22/20 -178.1165      0
1        1/23/20 -178.1165      0
2        1/24/20 -178.1165      0
3        1/25/20 -178.1165      0
4        1/26/20 -178.1165      0
...          ...       ...    ...
173163  10/10/21   178.065  51499
173164  10/11/21   178.065  51535
173165  10/12/21   178.065  51535
173166  10/13/21   178.065  51648
173167  10/14/21   178.065  51648

[173168 rows x 3 columns]

In [395]:
Ps_melt_df

           Date Province/State  Province/States
0       1/22/20        Alberta                0
1       1/23/20        Alberta                0
2       1/24/20        Alberta                0
3       1/25/20        Alberta                0
4       1/26/20        Alberta                0
...         ...            ...              ...
54979  10/10/21       Zhejiang             1452
54980  10/11/21       Zhejiang             1452
54981  10/12/21       Zhejiang             1453
54982  10/13/21       Zhejiang             1454
54983  10/14/21       Zhejiang             1454

[54984 rows x 3 columns]

In [396]:
confirmed_melt_df

            Date Country/Region  Confirmed
0        1/22/20    Afghanistan          0
1        1/23/20    Afghanistan          0
2        1/24/20    Afghanistan          0
3        1/25/20    Afghanistan          0
4        1/26/20    Afghanistan          0
...          ...            ...        ...
123235  10/10/21       Zimbabwe     131796
123236  10/11/21       Zimbabwe     131875
123237  10/12/21       Zimbabwe     132016
123238  10/13/21       Zimbabwe     132108
123239  10/14/21       Zimbabwe     132251

[123240 rows x 3 columns]

In [397]:
deaths_melt_df

            Date Country/Region  Deaths
0        1/22/20    Afghanistan       0
1        1/23/20    Afghanistan       0
2        1/24/20    Afghanistan       0
3        1/25/20    Afghanistan       0
4        1/26/20    Afghanistan       0
...          ...            ...     ...
123235  10/10/21       Zimbabwe    4637
123236  10/11/21       Zimbabwe    4643
123237  10/12/21       Zimbabwe    4645
123238  10/13/21       Zimbabwe    4648
123239  10/14/21       Zimbabwe    4655

[123240 rows x 3 columns]

In [398]:
recovered_melt_df

            Date Country/Region  Recovered
0        1/22/20    Afghanistan          0
1        1/23/20    Afghanistan          0
2        1/24/20    Afghanistan          0
3        1/25/20    Afghanistan          0
4        1/26/20    Afghanistan          0
...          ...            ...        ...
123235  10/10/21       Zimbabwe          0
123236  10/11/21       Zimbabwe          0
123237  10/12/21       Zimbabwe          0
123238  10/13/21       Zimbabwe          0
123239  10/14/21       Zimbabwe          0

[123240 rows x 3 columns]

# Date format

In [386]:
confirmed_melt_df['Date']=pd.to_datetime(confirmed_melt_df['Date'])
confirmed_melt_df['Date']=confirmed_melt_df['Date'].dt.strftime("%m/%d/%y")
deaths_melt_df['Date']=pd.to_datetime(deaths_melt_df['Date'])
deaths_melt_df['Date']=deaths_melt_df['Date'].dt.strftime("%m/%d/%y")
recovered_melt_df['Date']=pd.to_datetime(recovered_melt_df['Date'])
recovered_melt_df['Date']=recovered_melt_df['Date'].dt.strftime("%m/%d/%y")

In [387]:
max_date=confirmed_melt_df['Date'].max()
max_date

'12/31/20'

In [388]:
total_confirmed_df=confirmed_melt_df[confirmed_melt_df['Date']==max_date]
total_confirmed_df

            Date      Country/Region  Confirmed
344     12/31/20         Afghanistan      52330
976     12/31/20             Albania      58316
1608    12/31/20             Algeria      99610
2240    12/31/20             Andorra       8049
2872    12/31/20              Angola      17553
...          ...                 ...        ...
120424  12/31/20             Vietnam       1465
121056  12/31/20  West Bank and Gaza     138004
121688  12/31/20               Yemen       2099
122320  12/31/20              Zambia      20725
122952  12/31/20            Zimbabwe      13867

[195 rows x 3 columns]

In [389]:
total_confirmed_df

            Date      Country/Region  Confirmed
344     12/31/20         Afghanistan      52330
976     12/31/20             Albania      58316
1608    12/31/20             Algeria      99610
2240    12/31/20             Andorra       8049
2872    12/31/20              Angola      17553
...          ...                 ...        ...
120424  12/31/20             Vietnam       1465
121056  12/31/20  West Bank and Gaza     138004
121688  12/31/20               Yemen       2099
122320  12/31/20              Zambia      20725
122952  12/31/20            Zimbabwe      13867

[195 rows x 3 columns]

In [390]:
total_confirmed=total_confirmed_df['Confirmed'].sum()
total_confirmed

83638175

In [399]:
total_deaths_df=deaths_melt_df[deaths_melt_df['Date']==max_date]
# total_deaths_df
total_deaths=total_deaths_df['Deaths'].sum()
total_recovered_df=recovered_melt_df[recovered_melt_df['Date']==max_date]
total_recovered=total_recovered_df['Recovered'].sum()
total_lats_df=lats_melt_df[lats_melt_df['Date']==max_date]
total_lats=total_lats_df['Lats'].sum()

total_longs_df=longs_melt_df[longs_melt_df['Date']==max_date]
total_longs=total_longs_df['Longs'].sum()

total_Ps_df=Ps_melt_df[Ps_melt_df['Date']==max_date]
total_Ps=total_Ps_df['Province/States'].sum()

In [400]:
total_lats_df

            Date      Lat     Lats
344     12/31/20 -51.7963       29
976     12/31/20 -42.8821      234
1608    12/31/20 -40.9006     2162
2240    12/31/20 -38.4161  1625514
2872    12/31/20 -37.8136    20376
...          ...      ...      ...
169720  12/31/20  64.2823       60
170352  12/31/20  64.8255       24
170984  12/31/20  64.9631     5754
171616  12/31/20  70.2998      266
172248  12/31/20  71.7069       27

[273 rows x 3 columns]

In [401]:
total_longs_df

            Date        Long  Longs
344     12/31/20   -178.1165      4
976     12/31/20   -172.1046      2
1608    12/31/20    -168.734      0
2240    12/31/20   -159.7777      0
2872    12/31/20      -135.0     60
...          ...         ...    ...
170352  12/31/20  165.618042     38
170984  12/31/20    166.9592      1
171616  12/31/20    171.1845      4
172248  12/31/20     174.886   2162
172880  12/31/20     178.065     49

[274 rows x 3 columns]

In [402]:
total_Ps_df

           Date                Province/State  Province/States
344    12/31/20                       Alberta           100428
976    12/31/20                      Anguilla               13
1608   12/31/20                         Anhui              993
2240   12/31/20                         Aruba             5489
2872   12/31/20  Australian Capital Territory              118
...         ...                           ...              ...
52168  12/31/20             Western Australia              861
52800  12/31/20                      Xinjiang              980
53432  12/31/20                         Yukon               60
54064  12/31/20                        Yunnan              230
54696  12/31/20                      Zhejiang             1306

[87 rows x 3 columns]

In [46]:
# total_recovered_df=recovered_melt_df[recovered_melt_df['Date']==max_date]
# total_recovered_df

            Date      Country/Region  Recovered
344     12/31/20         Afghanistan      41727
976     12/31/20             Albania      33634
1608    12/31/20             Algeria      67127
2240    12/31/20             Andorra       7432
2872    12/31/20              Angola      11044
...          ...                 ...        ...
120424  12/31/20             Vietnam       1325
121056  12/31/20  West Bank and Gaza     117183
121688  12/31/20               Yemen       1394
122320  12/31/20              Zambia      18660
122952  12/31/20            Zimbabwe      11250

[195 rows x 3 columns]

In [49]:
total_active=total_confirmed - total_deaths - total_recovered

# Main KPI

In [50]:
fig= go.Figure()
fig.add_trace(go.Indicator(
            mode='number',value=(int)(total_confirmed),
            number={'valueformat':'0,f'},
            title={'text':'Total Confirmed Case'},
            domain={'row':0, 'column':0}
))
fig.add_trace(go.Indicator(
            mode='number',value=(int)(total_deaths),
            number={'valueformat':'0,f'},
            title={'text':'Total Deaths Case'},
            domain={'row':0, 'column':1}
))
fig.add_trace(go.Indicator(
            mode='number',value=(int)(total_recovered),
            number={'valueformat':'0,f'},
            title={'text':'Total recovered Case'},
            domain={'row':1, 'column':0}
))
fig.add_trace(go.Indicator(
            mode='number',value=(int)(total_active),
            number={'valueformat':'0,f'},
            title={'text':'Total Active Case'},
            domain={'row':1, 'column':1}
))
fig.update_layout(grid={'rows':2,'columns':2, 'pattern':'independent'})
fig.show()

In [51]:
total_confirmed_df

            Date      Country/Region  Confirmed
344     12/31/20         Afghanistan      52330
976     12/31/20             Albania      58316
1608    12/31/20             Algeria      99610
2240    12/31/20             Andorra       8049
2872    12/31/20              Angola      17553
...          ...                 ...        ...
120424  12/31/20             Vietnam       1465
121056  12/31/20  West Bank and Gaza     138004
121688  12/31/20               Yemen       2099
122320  12/31/20              Zambia      20725
122952  12/31/20            Zimbabwe      13867

[195 rows x 3 columns]

In [52]:
pd.set_option('mode.chained_assignment',None)
fig=px.choropleth(total_confirmed_df,
                 locations='Country/Region',locationmode='country names',
                 color_continuous_scale='dense',
                 color=total_confirmed_df['Confirmed']
                 )
fig.show()

In [155]:
total_deaths_df

            Date      Country/Region  Deaths
344     12/31/20         Afghanistan    2189
976     12/31/20             Albania    1181
1608    12/31/20             Algeria    2756
2240    12/31/20             Andorra      84
2872    12/31/20              Angola     405
...          ...                 ...     ...
120424  12/31/20             Vietnam      35
121056  12/31/20  West Bank and Gaza    1400
121688  12/31/20               Yemen     610
122320  12/31/20              Zambia     388
122952  12/31/20            Zimbabwe     363

[195 rows x 3 columns]

In [404]:
A=total_confirmed_df.copy()
A['Deaths']=total_deaths_df['Deaths']
A['DeathRate']=(A['Deaths']/A['Confirmed']*100).round(2)
A

,Date,Country/Region,Confirmed,Deaths,DeathRate,Lat,Long,Province/State
344,12/31/20,Afghanistan,52330,2189,4.18,-51.7963,-178.1165,Alberta
976,12/31/20,Albania,58316,1181,2.03,-42.8821,-172.1046,Anguilla
1608,12/31/20,Algeria,99610,2756,2.77,-40.9006,-168.734,Anhui
2240,12/31/20,Andorra,8049,84,1.04,-38.4161,-159.7777,Aruba
2872,12/31/20,Angola,17553,405,2.31,-37.8136,-135.0,Australian Capital Territory
...,...,...,...,...,...,...,...,...
120424,12/31/20,Vietnam,1465,35,2.39,36.3427,55.492,NaN
121056,12/31/20,West Bank and Gaza,138004,1400,1.01,37.2692,55.5364,NaN
121688,12/31/20,Yemen,2099,610,29.06,37.5777,55.923255,NaN
122320,12/31/20,Zambia,20725,388,1.87,37.8957,57.552152,NaN
122952,12/31/20,Zimbabwe,13867,363,2.62,38.861,64.585262,NaN